node_modules/
public/hot
public/storage
storage/*.key
vendor/
vendor
.idea/
.idea
.vscode
nbproject
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.env
.env.example
composer.lock
package-lock.json